@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme (default) */
  :root {
    --background: 200 20% 96%; /* hsl(200, 20%, 96%) */
    --foreground: 0 0% 4%; /* hsl(0, 0%, 6%) */
    --accent: 347 100% 40%;
    --primary: 0 55% 29%;
    --secondary: 0 72% 69%;
  }

  /* Dark theme */
  .dark {
    --background: 0 0% 4%; /* hsl(0, 0%, 6%) */
    --foreground: 200 20% 96%; /* hsl(200, 20%, 96%) */
    --accent: 347 100% 50%;
    --primary: 0 55% 71%;
    --secondary: 0 73% 31%;
  }

  /* Invert images on dark mode */
  .invert-on-dark {
    /* No filter by default */
  }

  .dark .invert-on-dark {
    filter: invert(1);
  }
}

@layer base {
  body {
    @apply font-roboto;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.flex-between {
  @apply flex items-center justify-between;
}

.leftsidebar {
  @apply fixed left-0 top-0 hidden h-screen min-w-[270px] flex-col justify-between bg-foreground/5 2xl:flex;
}

.leftsidebar-link {
  @apply rounded-[4px] transition hover:bg-accent;
}

.topbar {
  @apply sticky top-0 z-50 w-full bg-foreground/5 md:hidden;
}

.bottom-bar {
  @apply flex-between bottom-0 z-50 w-screen bg-background p-1 px-4 md:hidden;
}

/* Dark-themed scrollbar with transparent background */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555; /* Dark thumb color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888; /* Slightly lighter on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent; /* thumb color, track color */
}

@media (max-width: 600px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar {
    scrollbar-width: none; /* For Firefox */
  }
}

.desaturate {
  filter: grayscale(100%);
}

.youtube-container {
  position: relative;

  height: 0;
  overflow: hidden;
  width: 384px;
  height: 216px;
  background: #000;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 384px;
  height: 216px;
  border: 0;
}

@keyframes downUp {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.downUpAnimation {
  animation: downUp 2s infinite;
  animation-timing-function: cubic-bezier(
    0.8,
    0,
    0.2,
    1
  ); /* Fast down, slow up */
}

.downUpAnimation:hover {
  animation-play-state: paused;
}

/* keyframes.css */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heart-icon {
  transition: transform 0.2s ease-in-out;
}

.heart-icon.pop {
  animation: pop 0.2s ease-in-out;
}

.loader {
  @apply mt-4 h-12 w-12 rounded-full border-4 border-t-4 border-solid;
  border-color: theme("colors.accent") transparent transparent transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.mask1 {
  -webkit-mask-image: linear-gradient(
    to top,
    transparent 0%,
    transparent 25%,
    black 50%,
    black 100%
  );
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    transparent 25%,
    black 50%,
    black 100%
  );
}

.mask2 {
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* HTML: <div class="loader"></div> */
.page-loader {
  width: 55px;
  aspect-ratio: 1;
  --g1: conic-gradient(
    from 90deg at 3px 3px,
    #0000 90deg,
    hsl(var(--foreground)) 0
  );
  --g2: conic-gradient(
    from -90deg at 22px 22px,
    #0000 90deg,
    hsl(var(--foreground)) 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l7 1.5s infinite;
}
@keyframes l7 {
  0% {
    background-position:
      0 0,
      0 100%,
      100% 100%;
  }
  25% {
    background-position:
      100% 0,
      0 100%,
      100% 100%;
  }
  50% {
    background-position:
      100% 0,
      0 0,
      100% 100%;
  }
  75% {
    background-position:
      100% 0,
      0 0,
      0 100%;
  }
  100% {
    background-position:
      100% 100%,
      0 0,
      0 100%;
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar {
  transition: transform 0.3s ease;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.sidebar-visible {
  transform: translateX(0);
}

.gradient-edge {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 0) 0%,
    hsl(var(--background)) 100%
  );
}

.gradient-explore {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 65%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.shadow_plus {
  -webkit-box-shadow: 0px 0px 10px 5px hsla(0, 0%, 0%, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px hsla(0, 0%, 0%, 0.2);
  box-shadow: 0px 0px 10px 5px hsla(0, 0%, 0%, 0.2);
}

@media (max-width: 1024px) {
  .small-screen-watch-margin {
    margin-top: calc(56.25vw + 38px);
  }
}

.svgAnimation {
  width: 100px; /* Adjust this to your desired size */
  height: 100px;
  display: block;
  margin: 0 auto; /* Centering the SVG */
}

.cls1 {
  fill: #ff0037;
  stroke-width: 0px;
  stroke: #ff0037;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation:
    draw 4s ease-in-out infinite,
    pulse 2s ease-in-out infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* In your CSS file */
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-loading {
  animation: loading 2s linear;
}

.bottombar {
  @apply fixed bottom-0 left-0 right-0 z-50 flex items-center justify-center lg:hidden;
  height: calc(
    env(safe-area-inset-bottom) + 56px
  ); /* Adjust the height accordingly */
}

.bottombar-inner {
  @apply relative flex h-full w-full flex-row items-center justify-between bg-background/60 backdrop-blur-xl;
}

.bottombar-link {
  @apply flex flex-1 flex-col items-center justify-center;
}

/* Adjust the padding to account for the safe area inset */
.bottombar-inner {
  padding-bottom: env(safe-area-inset-bottom);
}
