@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 200 20% 98%;
		--btn-background: 200 10% 91%;
		--btn-background-hover: 200 10% 89%;
		--foreground: 200 50% 3%;
		--accent: 192 82% 31%;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--background: 193 83% 3%;
			--btn-background: 192 82% 9%;
			--btn-background-hover: 192 82% 12%;
			--foreground: 200 20% 96%;
			--accent: 192 82% 31%;
		}
		.invert-on-dark {
			filter: invert(1);
		}
	}
}

@layer base {
	* {
		@apply border-foreground/20;
	}

	body {
		@apply font-roboto;
	}
}

.animate-in {
	animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.flex-between {
	@apply flex justify-between items-center;
}

.leftsidebar {
	@apply hidden 2xl:flex px-6 py-10 flex-col justify-between min-w-[270px] h-screen bg-foreground/5  fixed top-0 left-0;
}

.leftsidebar-link {
	@apply rounded-lg hover:bg-accent transition;
}

.topbar {
	@apply sticky top-0 z-50 md:hidden bg-foreground/5 w-full;
}

.bottom-bar {
	@apply z-50 flex-between w-screen bottom-0  bg-background px-2 py-2 md:hidden;
}

/* Dark-themed scrollbar */
.custom-scrollbar::-webkit-scrollbar {
	width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #1e1e1e; /* Dark track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #555; /* Dark thumb color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #888; /* Slightly lighter on hover */
}

/* For Firefox */
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #555 #1e1e1e; /* thumb color, track color */
}

@media (max-width: 600px) {
	.custom-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.custom-scrollbar {
		scrollbar-width: none; /* For Firefox */
	}
}

.desaturate {
	filter: grayscale(100%);
}

.youtube-container {
	position: relative;

	height: 0;
	overflow: hidden;
	width: 384px;
	height: 216px;
	background: #000;
}

.youtube-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 384px;
	height: 216px;
	border: 0;
}
